@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
    background-image: url(../img/background.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
.wraper_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    background: rgba(0, 0 ,0, 0.25);
}
.logo {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 79px;
    
}
.logo {
    transition: color 0.25s linear;
}
.logo:hover {
    color: #3CB878;
}
.header_info {
    display: flex;
    align-items: center;
}
.header_info svg {
    margin-right: 24px;
    transition: fill 0.25s linear;
}
.header_info svg:hover {
    fill: #3CB878;
    cursor: pointer;
}
.vertical_line {
    width: 1px;
    height: 19px;
    background-color: #FFFFFF;
}
.header_user_menu {
    color: #FFFFFF;
    padding: 0 79px 0 27px;
}
.header_user_menu a{
    transition: color 0.25s linear;
}
.header_user_menu a:hover {
    color: #3CB878;
}
.main_section {
    max-width: 444px;
    max-height: min-content;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);   
}
.auth_section {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.mini_square {
    font-size: 20px;
    padding-top: 30px;
    color: #434343;
}
.mini_square::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    margin-right: 42px;
}
.auth_section a {
    color: #3CB878;
    padding: 33px 60px 0 0;
}
.auth_section a:hover {
    text-decoration: underline;
}
.container {
    max-width: 324px;
    margin: 0 auto;
    padding: 0 61px;
}
.auth_social_networks {
    display: flex;
    gap: 4px;
    padding-top: 15px;
}
.btn {
    font-size: 16px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 160px;
}
.left_btn_name {
    padding-left: 18px; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;  
}
.fb {
    background-color: #305DB8;
    padding: 10px 16px;
    position: relative;
    color: #FFFFFF;
    transition: background-color 500ms linear;
}
.fb svg {
    padding-right: 18px;
    border-right: 1px rgba(10, 22, 47, 0.1) solid;
}
.fb:hover {
    background-color: #022263;
    cursor: pointer;
}
.google {
    background-color: #DF4A32;
    padding: 0 27px 0 12px;
    color: #FFFFFF;
    transition: background-color 500ms linear;
}
.google svg {
    padding-right: 7px;
    border-right: 1px rgba(43, 13, 9, 0.1) solid;
    line-height: 28px;
}
.google:hover {
    background-color: #AB1F09;
    cursor: pointer;
} 
.right_btn_name {
    padding-left: 38px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.user_reg {
    padding-top: 40px;
    padding-bottom: 38px;
    margin: 0 auto;
}
.center_line {
    display: flex;
    align-items: center;
    min-width: 100%;
    color: #848484;
}
.center_line::before {
    content: "";
    width: 47%;
    height: 1px;
    background-color: #F2F2F2;
    padding-right: 2px;
}
.center_line::after {
    content: "";
    width: 47%;
    height: 1px;
    background-color: #F2F2F2;
    padding-left: 2px;
}
.reg_form {
    margin: 13px 0;
    width: 300px;
    padding: 12px 0 12px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
}
.reg_form:focus {
    box-shadow: 3px 3px 5px 3px #e0dbdb;
}
.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    color: #434343;
}
.checkbox_empty {
    display: none;
}
.tick {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-right: 8px;
}
.tick::before {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../img/img_1.png);
    background-size: cover;
    opacity: 0;
    transition: 0.1s;
}
.checkbox_empty:checked + .tick::before {
    opacity: 1;
}
.terms {
    color: #3CB878;
    transition: font-size 1s linear;
}
.terms:hover {
    text-decoration: underline;
    font-size: 15px;
}
.btn_reg {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color:rgba(60, 184, 120, 0.8);;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 0 auto;
    padding: 13px 0;
    width: 100%;
    transition: background-color 500ms linear;
}
.btn_reg:hover {
    background-color: #01813F;
    cursor: pointer;
}